Repository ZZ-Cat/CRSFforArduino, pull requests merged in 2024-02, with the labels that each got.

#81 feat(devboard) Add support for STM32 F103, F4, and H7 targets
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/devboard-request.yml
  README.md
  examples/flight_modes/flight_modes.ino
  examples/link_stats/link_stats.ino
  examples/platformio/main.cpp
  examples/rc_channels/rc_channels.ino
  examples/telemetry/telemetry.ino
  platformio.ini
  src/CFA_Config.hpp
  src/CRSFforArduino.cpp
  src/CRSFforArduino.hpp
  src/SerialReceiver/CRC/CRC.cpp
  src/SerialReceiver/CRC/CRC.hpp
  src/SerialReceiver/CRSF/CRSF.cpp
  src/SerialReceiver/CRSF/CRSF.hpp
  src/SerialReceiver/CRSF/CRSFProtocol.hpp
  src/SerialReceiver/SerialBuffer/SerialBuffer.cpp
  src/SerialReceiver/SerialBuffer/SerialBuffer.hpp
  src/SerialReceiver/SerialReceiver.cpp
  src/SerialReceiver/SerialReceiver.hpp
  src/SerialReceiver/Telemetry/Telemetry.cpp
  src/SerialReceiver/Telemetry/Telemetry.hpp
  src/hal/CompatibilityTable/CompatibilityTable.cpp
  src/hal/CompatibilityTable/CompatibilityTable.hpp
  targets/common.ini
  targets/unified_stm32.ini
Labels: ✨️ Enhancement ✨️, Arduino IDE ♾️, PlatformIO 👽

#83 feat(serial receiver interface): Add custom Flight Mode strings as telemetry
  examples/flight_modes/flight_modes.ino
  examples/link_stats/link_stats.ino
  examples/platformio/main.cpp
  examples/rc_channels/rc_channels.ino
  examples/telemetry/telemetry.ino
  src/CFA_Config.hpp
  src/CRSFforArduino.cpp
  src/CRSFforArduino.hpp
  src/SerialReceiver/CRC/CRC.cpp
  src/SerialReceiver/CRC/CRC.hpp
  src/SerialReceiver/CRSF/CRSF.cpp
  src/SerialReceiver/CRSF/CRSF.hpp
  src/SerialReceiver/CRSF/CRSFProtocol.hpp
  src/SerialReceiver/SerialBuffer/SerialBuffer.cpp
  src/SerialReceiver/SerialBuffer/SerialBuffer.hpp
  src/SerialReceiver/SerialReceiver.cpp
  src/SerialReceiver/SerialReceiver.hpp
  src/SerialReceiver/Telemetry/Telemetry.cpp
  src/SerialReceiver/Telemetry/Telemetry.hpp
  src/hal/CompatibilityTable/CompatibilityTable.cpp
  src/hal/CompatibilityTable/CompatibilityTable.hpp
Labels: ✨️ Enhancement ✨️

#84 refactor(library): Flight Modes API and Custom Flight Modes integration, plus code and comments clean-up
  .gitattributes
  .github/workflows/arduinoide_build.yml
  examples/flight_modes/flight_modes.ino
  examples/link_stats/link_stats.ino
  examples/platformio/main.cpp
  examples/rc_channels/rc_channels.ino
  examples/telemetry/telemetry.ino
  platformio.ini
  src/CFA_Config.hpp
  src/CRSFforArduino.cpp
  src/CRSFforArduino.hpp
  src/SerialReceiver/CRC/CRC.cpp
  src/SerialReceiver/CRC/CRC.hpp
  src/SerialReceiver/CRSF/CRSF.cpp
  src/SerialReceiver/CRSF/CRSF.hpp
  src/SerialReceiver/CRSF/CRSFProtocol.hpp
  src/SerialReceiver/SerialBuffer/SerialBuffer.cpp
  src/SerialReceiver/SerialBuffer/SerialBuffer.hpp
  src/SerialReceiver/SerialReceiver.cpp
  src/SerialReceiver/SerialReceiver.hpp
  src/SerialReceiver/Telemetry/Telemetry.cpp
  src/SerialReceiver/Telemetry/Telemetry.hpp
  src/hal/CompatibilityTable/CompatibilityTable.cpp
  src/hal/CompatibilityTable/CompatibilityTable.hpp
  targets/common.ini
Labels: Arduino IDE ♾️, PlatformIO 👽, ...in progress 🚧
